<!-- <div *ngIf="isLoggedIn"; else notLoggedIn> -->

<div class="container">
    <form #flightForm="ngForm" (ngSubmit)="onSubmit(flightForm)" (ngModelChange)="onFormChange()">
        <div>
          <label for="airline">Airline:</label>
          <input type="text" name="airline" [(ngModel)]="formData.airline" required>
        </div>
        <div>
          <label for="arrivalDate">Arrival Date:</label>
          <input type="date" name="arrivalDate" [(ngModel)]="formData.arrivalDate" required>
        </div>
        <div>
          <label for="arrivalTime">Arrival Time:</label>
          <input type="time" name="arrivalTime" [(ngModel)]="formData.arrivalTime" required>
        </div>
        <div>
          <label for="flightNumber">Flight Number:</label>
          <input type="text" name="flightNumber" [(ngModel)]="formData.flightNumber" required>
        </div>
        <div>
          <label for="numOfGuests">Number of Guests:</label>
          <input type="number" name="numOfGuests" [(ngModel)]="formData.numOfGuests" required>
        </div>
        <div>
          <label for="comments">Comments:</label>
          <textarea name="comments" [(ngModel)]="formData.comments"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>

    <p *ngIf="successMessage">{{ successMessage }}</p>

    <h2>List of Flights</h2>
    <ul>
        <li *ngFor="let submission of submissions">
            Airline: {{ submission.airline }} <br>
            Arrival Date: {{ submission.arrivalDate }} <br>
            Arrival Time: {{ submission.arrivalTime }} <br>
            Flight Number: {{ submission.flightNumber }} <br>
            Guests: {{ submission.numOfGuests }} <br>
            <!-- <button (click)="deleteSubmission(submission)">Delete</button> -->
            Comments: {{ submission.comments || 'No comments'}}
        </li>
    </ul>
</div>

<ng-template #notLoggedIn>
    <p>You must be logged in to access this form.</p>
</ng-template>
